PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
MONGODB_URI=mongodb://127.0.0.1:27017/
JWT_SECRET=8e88036febabba3a3b690e8f67e0400a
JWT_EXPIRES_IN=7d
COOKIE_NAME=lms_token
RESEND_API_KEY=
EMAIL_FROM=Mini LMS <onboarding@yourdomain.com>
ADMIN_EMAIL=admin@minilms.com
ADMIN_PASSWORD=Admin123!
